.Button {
    padding: .2em .4em;
    opacity: 0.7;
    font-family: inherit;
    font-size: inherit;

    &:hover {
        background-color: var(--color-primary-transparent);
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    &:active {
        transform: translateY(1px);
    }

    &[data-unstyled=true] {
        border: none;
        background: none;
    }

    &[data-unstyled=false] {
        border: 1px solid var(--color-primary);
        background: none;
        border-radius: 4px;
        transition: border-color 0.3s ease, background-color 0.3s ease;
    }
}