.Login {

    form {
        max-width: 20rem;
        margin: 20px auto;
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    fieldset {
        display: grid;
    }

    label {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    a {
        color: var(--color-primary);
        transition: color 0.3s ease;
    }
}

.error_msg {
    color: var(--color-secondary);
    text-align: center;
    transition: color 0.3s ease;
}