.Table {
    width: 100%;
    border-collapse: collapse;

    th,
    tfoot td {
        background-color: var(--color-food-input-bg);
        color: var(--color-primary);
        font-weight: bold;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    th {
        text-align: left;
    }

    th:nth-of-type(1) {
        text-align: left;
    }

    tr:nth-of-type(even) {
        background-color: var(--color-gray-300);
        transition: background-color 0.3s ease;
    }

    th,
    td {
        border: 1px solid var(--color-border-light);
        padding: .3em .6em;
        text-align: right;
        transition: border-color 0.3s ease;
    }

    td:nth-of-type(1) {
        text-align: left;
    }

    td button {
        border: none;
        background: none;
        padding: 0;
        opacity: 0.5;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}