$bg-color: #eef8dd;

.Textareas {
    display: grid;
    grid-template-columns: 3rem 1fr auto;
    // gap: 10px;
    // gap: 10px;
    // height: 100%;
    min-height: 100px;
    width: 100%;
    position: relative;

    border: 1px solid darkgreen;

    .textareas_container {
        position: relative;
        // display: grid;
        height: 100%;
        background-color: $bg-color;
        // border-radius: 6px;

        // &::after {
        //     content: "";
        //     top: 0;
        //     position: absolute;
        //     z-index: -1;
        //     width: 100%;
        //     height: 100%;
        //     background-color: #eee;
        //     transition: height 500ms;
        // }
    }


    aside {
        color: darkgreen;
        text-align: right;
    }

    // $padding-x: 10px;
    // $padding-y: 5px;

    textarea,
    aside,
    .shadow_textarea {
        font-size: 1rem;
        // font-family: monospace;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        // width: calc(100% - 50px);
        // height: calc(100% - 2 * $padding-y);
        resize: none;
        margin: 0;
        // padding: 0;
        padding: 0 10px;
        // padding: 5px 10px;
        // padding: $padding-y $padding-x;
        line-height: 1.6em;
        border: none;
        color: darkgreen;

        border-radius: 5px;
    }

    textarea {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
        z-index: 1;
        background: transparent;
        color: transparent;
        caret-color: darkgreen;
        // width: 100%;
        width: calc(100% - 20px) !important;
        height: 100%;
        // border-radius: 6px;
    }

    aside,
    textarea,
    .shadow_textarea {
        font-size: 1rem;
        line-height: 1.6rem;
    }

    .shadow_textarea {
        // position: absolute;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;

        i {
            opacity: 0.3;
            margin-left: .5em;
        }

        .separator_line {
            display: flex;
            align-items: center;
            height: 1.6rem;

            hr {
                width: 100%;
                border: none;
                border-top: 1px solid rgba(0, 100, 0, 0.2);
                margin: 0;
            }
        }
    }

    [data-hidden=true] {
        opacity: 0;
    }
}

.macros {
    background-color: $bg-color;
    padding: 5px 0px;
    overflow: hidden;


    &[data-show=true] {
        width: 11rem;
        transition: width 300ms;
    }

    &[data-show=false] {
        width: 0;
        transition: width 300ms;
    }

    table {
        border-collapse: collapse;

        td {
            // border: 1px solid lightblue;
            text-align: right;
            min-width: 2rem;
        }

        td:nth-child(1) {
            color: darkorange;
        }

        td:nth-child(2) {
            color: #ffc107;
        }

        td:nth-child(3) {
            color: green;
        }

        td:nth-child(4) {
            color: steelblue;
        }

        td:nth-child(5) {
            color: darkorchid;
        }

        tr {
            height: 1.5rem;
            // display: grid;
            // $cell-size: 2rem;
            // grid-template-columns: $cell-size auto $cell-size auto $cell-size auto $cell-size auto $cell-size;
        }
    }
}